body{
  background-image: url("../../images/bg-blob.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
  
  @media only screen and (max-width: $large) {
    background-position: left;
  }
}

.glass-blur {
  backdrop-filter: blur(80px) saturate(150%);
  -webkit-backdrop-filter: blur(50px) saturate(150%);
}

::-webkit-scrollbar{
  width: 0;
}