<header class="header glass-blur">
    <ul class="nav">
        <li class="nav__item">
            <a href="">Home</a>
        </li>
        <li class="nav__item">
            <a href="">Buy Cars</a>
        </li>
        <li class="nav__item">
            <a href="">Auctions</a>
        </li>
        <li class="nav__item">
            <a href="">Sell your car</a>
        </li>
    </ul>
</header>

@code {

}