<header class="header glass-blur">
    <ul class="nav">
        @*<NavLink class="nav__item" href="">
            Home
        </NavLink>
        <NavLink class="nav__item" href="Auctions">
            Auctions
        </NavLink>
        <NavLink class="nav__item" href="SellCar">
            Sell your Car
        </NavLink>*@
        
        <li class="nav__item">
            <a href="/">Home</a>
        </li>
        <li class="nav__item">
            <a href="/Auctions">Auctions</a>
        </li>
        <li class="nav__item">
            <a href="/SellCar">Sell your car</a>
        </li>
    </ul>
</header>

@code {

}