#app{
  $r: 1.5em;

  @mixin position-center($text-align: center) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: $text-align;
  }
  
  .loader-wrap {
    display: grid;
    place-content: center;
    margin: 0;
    min-height: 100vh;
    background: #000000;

    &:before {
      grid-column: 1;
      grid-row: 1;
      transform: scale(.8);
      background: linear-gradient(90deg, #fde6bd, #a1c5ab, #f4dd51, #d11e48, #632f53);
      content: ''
    }
  }

  .loader {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 6em;
    background: inherit;
    filter: blur(9px) contrast(18);
    mix-blend-mode: multiply
  }

  .particle {
    width: 0;
    padding: $r;
    border-radius: 50%;
    background: #fff;

    &:first-child, &:last-child { padding: .5*$r }

    &:nth-child(odd) {
      animation: pulse var(--t) ease-in-out var(--dt) infinite
    }

    &:nth-child(2n) {
      transform: rotate(0deg) translate(2*$r);
      animation: spin var(--t) linear infinite
    }

    &:nth-child(4n) {
      animation-direction: reverse;
      animation-duration: calc(1.2*var(--t))
    }
  }

  @keyframes pulse {
    50% { transform: scale(1.8) }
    70% { transform: scale(.6) }
  }

  @keyframes spin {
    to { transform: rotate(1turn) translate(2*$r) }
  }
}
